
#body {
  width: 100vw;
  min-height: 100vh;
  background-color: #fdbf00;
}
.left-img {
  position: absolute;
  top: 50%;
  left: 2vw;
}
.right-img {
  position: absolute;
  top: 7%;
  right: 2vw;
}
#natural {
  position: absolute;
  top: 65%;
  right: 5.5vw;
}
#logo {
  position: absolute;
  top: 20px;
  left: 8vw;
}
#logo h4 {
  text-align: center;
}
.component {
position: relative;
}

@media only screen and (max-width: 920px) {
  .left-img, .right-img, #logo, #natural {
    visibility: hidden;
  }
}

/* MainMenu */
.nav-home{
  color: #ffc107;
}
.nav-home:hover{
  color:  rgb(182, 133, 0);
}
@media only screen and (max-width: 920px) {
  .nav-home{
    color: black;
    background-color: #ffc107;
    border-radius: 5%;
  }
  .nav-home:hover{
    color: black;
    background-color: rgb(235, 161, 1);
  }
}

/* HomePage */
.home-page {
  min-height: 93vh;
}
.honey-img {
  width: 100%;
}

/* HomePage hexagonal grid */
#grid {
  position: relative;
  width: 70%;
  margin: 0 auto;
  padding: 0; /* Clears unordered list default of 40px */
}
.clear:after {
    content: "";
    display: block;
    clear: both;
}
#grid li {
  list-style-type: none;
  position: relative;
  float: left;
  width: 27.85714285714286%;
  padding: 0 0 32.16760145166612% 0;
  -o-transform: rotate(-60deg) skewY(30deg);
  -moz-transform: rotate(-60deg) skewY(30deg);
  -webkit-transform: rotate(-60deg) skewY(30deg);
  -ms-transform: rotate(-60deg) skewY(30deg);
  transform: rotate(-60deg) skewY(30deg);
  overflow: hidden;
  visibility: hidden;
}
#grid li * {
  visibility: visible;
}
#grid li .hexagon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fdbf00;
  -o-transform: skewY(-30deg) rotate(60deg);
  -moz-transform: skewY(-30deg) rotate(60deg);
  -webkit-transform: skewY(-30deg) rotate(60deg);
  -ms-transform: skewY(-30deg) rotate(60deg);
  transform: skewY(-30deg) rotate(60deg);
  overflow: hidden;
}
#grid li:nth-child(3n+2) {
  margin: 0 1%;
}
#grid li:nth-child(6n+4), #grid li:nth-child(6n+5), #grid li:nth-child(6n+6) {
  margin-top: -6.9285714285%;
  margin-bottom: -6.9285714285%;
  -o-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -moz-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
  transform: translateX(50%) rotate(-60deg) skewY(30deg);
}
#grid li:nth-child(6n+4) { 
  margin-left: 0.5%;
}
#grid li .hexagon h1 {
  font-size: 22px;
  text-align: center;
  margin-top: 45%;
}
#grid li h1 {
  color: black;
}
#grid li:hover h1 {
  color: yellow;
}
#grid li .hexagon p {
  position: absolute;
  top: 72%;
  font-size: 18px;
  width: 100%;
  text-align: center;
  color: #ffff00;
  background-color:rgba(155, 76, 2, 0.5);
}
#grid li .hexagon img {
  left:-100%;
  right:-100%;
  height:100%;
  width: auto;
  margin: 0 auto;
  -o-transition: all 0.6s linear 0s; 
  -moz-transition: all 0.6s linear 0s; 
  -ms-transition: all 0.6s linear 0s; 
  -webkit-transition: all 0.6s linear 0s; 
  transition: all 0.6s linear 0s;
}
#grid li:hover img {
  height: 140%;
  -o-transform: translateZ(0) translateX(-25%);
  -moz-transform: translateZ(0) translateX(-25%);
  -webkit-transform: translateZ(0) translateX(-25%);
  -ms-transform: translateZ(0) translateX(-25%);
  transform: translateZ(0) translateX(-25%);
}

@media only screen and (max-width: 920px) {
  #grid {
    width: 100%;
  }
  #grid li .hexagon p {
    top: 63%;
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {
  #grid {
    width: 100%;
  }
  #grid li .hexagon p {
    top: 65%;
    font-size: 11px;
  }
}
/* about */
.company{
  margin-left: 5px;
  float: right;
  width: 40%;
}
/* contact */
.contact-img{
  width: 100%;
}
/* admin article img modal styles */
.backdrop{
  background: rgba(61, 61, 61, 0.5);
}
.backdrop img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 10px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}
/* admin orders */
.nav-tabs .nav-item.nav-link {
  color: white;
}
.nav-tabs .nav-item.nav-link.active {
  background-color: #fdbf00;
}